@import 'office-ui-fabric-core/src/sass/_References.scss';

$theme-red-1: #F63E62;
$theme-red-2: #F66F89;
$theme-red-3: #ED002F;
$theme-red-4: #B22D47;
$theme-red-5: #9A001E;

$theme-pink-1: #E83A93;
$theme-pink-2: #E869AA;
$theme-pink-3: #D2006B;
$theme-pink-4: #9D2763;
$theme-pink-5: #880045;

$theme-orange-1: #FFA840;
$theme-orange-2: #FFBF73;
$theme-orange-3: #FF8B00;
$theme-orange-4: #BF8730;
$theme-orange-5: #A66400;

@mixin sas-color($color) {
    background-image: $color;
    background-clip: text;
    -webkit-background-image: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin color-gray
{
    color: #8189a9;
}

@mixin color-black-gray
{
    @include sas-color(linear-gradient(to right, #000000, #434343));
}

@mixin color-black-red
{
    @include sas-color(linear-gradient(to left, #c31432, #240b36));
}

@mixin color-pink-blue
{
    @include sas-color(linear-gradient(45deg, rgba(159, 107, 209, 1), rgba(113, 132, 218, 1)));
}

@mixin pink-a
{
    @include sas-color(linear-gradient(to right, #da4453, #89216b));
}

@mixin pink-b
{
    @include sas-color(linear-gradient(to right, #ec008c, #fc6767));
}

@mixin white-a
{
    @include sas-color(linear-gradient(to bottom, #ada996, #f2f2f2, #dbdbdb, #eaeaea));
}

@mixin white-b
{
    @include sas-color(linear-gradient(to left, #8e9eab, #eef2f3));
}

@mixin answer-a
{
    @include sas-color(linear-gradient(to bottom, #007991, #78ffd6));
}

@mixin a-link
{
    @include nowrap;
    
    font-size: 13.8px;
    color: #8189a9;
    user-select: none;
    cursor: pointer;
    
    &:hover
    {
        color: #a6adc9;
    }
}

@mixin font-1 {
    font-family: Akkurat Std, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;;
}

@mixin manage-page-package
{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 32px;
    box-sizing: border-box;
    flex: 1;
    
    .s-h1
    {
        @include color-pink-blue;
        
        position: relative;
        width: 100%;
        height: 60px;
        margin: 0px;
        margin-top: 25px;
        border-bottom: rgba(28, 30, 41, 0.1) thin solid;
        color: rgba(28, 30, 41, 1);
        font-size: 28px;
        font-weight: 700;
        display: flex;
        align-items: center;
        span{
            @include color-pink-blue;
        }
    }

    .s-h3
    {
        @include color-black-gray;
        
        position: relative;
        width: 100%;
        margin: 0px;
        margin-top: 25px;
        border-bottom: rgba(28, 30, 41, 0) thin solid;
        color: rgba(28, 30, 41, 1);
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }
}

@mixin narrow-scroll-bar {
    &::-webkit-scrollbar {
        width: 10px;
        height: 8px;

        &:hover {
            width: 16px;
        }
    }
    /*定义滚动条轨道
 内阴影+圆角*/
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    /*定义滑块
 内阴影+圆角*/
    &::-webkit-scrollbar-thumb {
        border-right: rgba(191, 190, 189, 0.2) solid 5px;
        background-color: rgba(191, 190, 189, 0);
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            border-radius: 10px;
            border-color: transparent;
            background-color: rgba(191, 190, 189, 0.6);
        }

        &:active {
            background-color: rgba(191, 190, 189, 0.5);
        }

        &:horizontal {
            border-right: none;
            border-bottom: rgba(191, 190, 189, 0.2) solid 5px;
        }
    }
}